<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  HELLO
  <form action='/moreinfo', method='POST'>{% csrf_token %}>
  Enter Product URL here:<br>
  <input type="text" name="productname">
  <br><br>
  <input type="submit" value="Submit">
  </form>
</body>
</html>
